body{
    background-color: black;
    text-align: center;
}

.wrap{
	margin: 0 auto;
	width: 80%;
}
body a,form li,.submit input[type="submit"]{
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
}

.notop{
	margin-top:5px !important;
	margin-bottom:5px !important;
}

.lesstop{
	margin-top:20px !important;
}
	
.one-login-head{
	background: firebrick;
	padding: 1em 1em;
	text-align:center;
	position: relative;
}
.one-login-head span{
	width: 30px;
	height: 13px;
	position: absolute;
	bottom: -12px;
	left: 203px;
	display: inline-block;
}
.one-login{
width:28%;
margin:5% auto;
background: #fff;
}

.one-login-head h1 {
font-size: 2em;
color: #fff;
font-weight:200;
}

form {
	padding: 12% 9%;
}

form li{
	border:none;
	list-style:none;
	margin-bottom:25px;
	width:100%;
	background:#dfdfdf;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 0.8em 2em 0.8em 2em;
	color: #858282;
	font-size: 17px;
	outline: none;
	background: none;
	font-weight: 500;
	border: none;
	}

.submit input[type="submit"]{
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	outline: none;
	padding: 13px 10px;
	width: 100%;
	border: none;
	background: #D13E2F;
}

input[type="submit"]:hover{
	background:black;
}

@media (max-width:1440px){
.one-login{
		width: 31%;
	}
}
@media (max-width:1366px){
.one-login{
		width: 32%;
	}
}
@media (max-width:1280px){
 .one-login {
	width: 35%;
	}

}
@media (max-width:1024px){
.one-login {
	width: 43%;
	}
}
@media (max-width:768px){
 .one-login {
	width: 58%;
	}
	form {
	padding: 12% 6%;
	}
}
@media (max-width:640px){
 .one-login {
	width: 70%;
	}
 .one-login-head h1 {
	font-size: 1.55em;
	}
}
@media (max-width:480px){
 .one-login {
	width: 95%;
	}

	form {
	padding: 12% 5%;
	}

}
@media (max-width:320px){

	input[type="text"], input[type="password"] {
	width: 90%;
	padding: 0.9em 1em 0.9em 1.7em;
	color: #858282;
	font-size: 16px;
	}

 .one-login-head h1 {
	font-size: 1.3em;
	}
	.submit input[type="submit"] {
	font-size: 18px;
	padding: 13px 10px;
	}
	form {
	padding: 12% 4%;
	}
	form li {
	margin-bottom: 14px;
	}
	
}
